<%= render :partial => 'shared/ratings_info' -%>

<p>
Due to the limitations of the Netflix API, 
ratings are obtained in small chunks via a 
series of AJAX calls.
<%= link_to "Start the raid", raid_path %>
and leave the page open.
</p>
