<p>
FYI...
</p>

<p>
Netflix API doesn't seem to currently support the removal of ratings so if you'd like to clear a rating, you'll have to do it via the Netflix site.
</p>

<p>
Ratings created via the API are not always immediately available on the Netflix website.
</p>

<p>
Not all titles are rateable, particularly if they are part of a set.
</p>

<p>
Not all titles that match a search term will actually be returned.  
Discs in a series and bonus material are usually not.  
If they are in one of your queues, and you view your queue through this app, they will show up.
</p>

<p>
Netflix may use different titles for sorting so 
if you want to confirm that these ratings are the same as theirs, good luck.  
Most common are abbreviations like LOTR or the transposition of words like 
Bonus Material: Cast Away instead of Cast Away: Bonus Material.  
I have been trying to manually change my titles to match their's but it's a neverending process.  
Also, sorting with regards to numbers is handled differently.
</p>
